<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Flask Application</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            // create new person data
            $("#create-form").submit(function(event){
                event.preventDefault();
                var person_id = $("#person_id").val();
                var name = $("#name").val();
                var age = $("#age").val();
                var gender = $("#gender").val();
                var phone = $("#phone").val();
                var data = JSON.stringify({
					"person_id": person_id,
					"name": name,
					"age": age,
					"gender": gender,
					"phone": phone
				});
                $.ajax({
                    type: "POST",
                    url: "/person/" + person_id,
                    contentType: "application/json",
                    data: data,
                    success: function(){
                        alert("Person created successfully!");
                    },
                    error: function(){
                        alert("Error creating person.");
                    }
                });
            });
            // Update person data
        	$("#update-form").submit(function(event) {
				event.preventDefault();
				var person_id = $("#person_id").val();
				var name = $("#name").val();
				var age = $("#age").val();
				var gender = $("#gender").val();
				var phone = $("#phone").val();
				var data = JSON.stringify({
					"person_id": person_id,
				 	"name": name,
				  	"age": age,
				   	"gender": gender,
				    "phone": phone
				});
				$.ajax({
					type: "PUT",
					url: "/person/" + person_id,
					contentType: "application/json",
					data: data,
					success: function() {
						alert("Person updated successfully!");
					},
					error: function() {
						alert("Error updating person.");
					}
				});
			});
            // Delete person data
			$("#delete-form").submit(function(event) {
				event.preventDefault();
				var person_id = $("#person_id").val();
				$.ajax({
					type: "DELETE",
					url: "/person/" + person_id,
					contentType: "application/json",
					data: JSON.stringify({"person_id": person_id}),
					success: function() {
						alert("Person deleted successfully!");
					},
					error: function() {
						alert("Error deleting person.");
					}
				});
			});
  	        // Get spesific person data
			$("#get-form").submit(function(event) {
				event.preventDefault();
				var person_id = $("#person_id").val();
				$.ajax({
					type: "GET",
					url: "/person/" + person_id,
					dataType: "json",
					success: function(data) {
						alert("Name: " + data.name + "\nAge: " + data.age + "\nGender: " + data.gender + "\nPhone: " + data.phone);
					},
					error: function() {
						alert("Error retrieving person.");
					}
				});	
			});
			// Get the list of all persons
			$("#get-all-form").submit(function(event){
				event.preventDefault();
				$.ajax({
					type: "GET",
					url: "/person",
					dataType:"json",
					success: function(data){
						var people = "";
						for(var i = 0; i < data.length; i++){
							people += "ID: " + data[i].person_id + "\nName: " + data[i].name + "\nAge: " + data[i].age + "\nGender" + data[i].gender + "\nPhone: " + data[i].phone + "\n\n";
						}
						alert(people);
					},
					error: function(xhr, status, error){
						alert("Error: " + error);
					}
				});
			});
        });
    </script>
</head>
<body>
    <h1>My Flask Application</h1>
    <h2>Create Person</h2>
	<form id="create-form">
		<div>
    		<label for="person_id">ID:</label>
    		<input type="text" id="person_id" name="person_id" required><br><br>
		</div>
		<div> 
    		<label for="name">Name:</label>
    		<input type="text" id="name" name="name" required><br><br>
		</div>
		<div>
    		<label for="age">Age:</label>
    		<input type="number" id="age" name="age" required><br><br>
        </div>
		<div>
    		<label for="gender">Gender:</label>
    		<select id="gender" name="gender" required>
    	    	<option value="male">Male</option>
    	    	<option value="female">Female</option>
    	    	<option value="other">Other</option>
    		</select><br><br>
		</div>
		<div>
    		<label for="phone">Phone:</label>
    		<input type="tel" id="phone" name="phone" required><br><br>
    		<button type="submit">Create Person</button> 
		</div>	
	</form>
    
    <h2>Update Person</h2>
	<form id="update-form">
		<div>
    		<label for="person_id">ID:</label>
    		<input type="text" id="person_id" name="person_id" required><br><br>
		</div>
		<div> 
    		<label for="name">Name:</label>
    		<input type="text" id="name" name="name" required><br><br>
		</div>
		<div>
    		<label for="age">Age:</label>
    		<input type="number" id="age" name="age" required><br><br>
        </div>
		<div>
    		<label for="gender">Gender:</label>
    		<select id="gender" name="gender" required>
    	    	<option value="male">Male</option>
    	    	<option value="female">Female</option>
    	    	<option value="other">Other</option>
    		</select><br><br>
		</div>
		<div>
    		<label for="phone">Phone:</label>
    		<input type="tel" id="phone" name="phone" required><br><br>
    		<button type="submit">Update Person</button> 
		</div>
	</form>

    <h2>Delete Person</h2>
	<form id="delete-form">
		<div>
			<label for="person_id">ID:</label><br>
			<input type="text" id="person_id" name="person_id"><br>
			<button type="submit">Delete Person</button>
		</div>
	</form>

	<h2>Get Person</h2>
	<form id="get-form">
		<div>
			<label for="person_id">ID:</label><br>
			<input type="text" id="person_id" name="person_id"><br>
			<button type="submit">Get Person</button>
		</div>
	</form>

	<h2>Get All People</h2>
	<form id="get-all-form">
		<div>
			<button type="submit">Get All People</button>
		</div>
	</form>
</body>
</html>