<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Flask Application</title>
</head>
<body>
    <h1>My Flask Application</h1>
    <h2>Create Person</h2>
	<form action="/person" method="POST" id="create-form">
		<div>
    		<label for="person_id">ID:</label>
    		<input type="text" id="person_id" name="person_id" required><br><br>
		</div>
		<div> 
    		<label for="name">Name:</label>
    		<input type="text" id="name" name="name" required><br><br>
		</div>
		<div>
    		<label for="age">Age:</label>
    		<input type="number" id="age" name="age" required><br><br>
        </div>
		<div>
    		<label for="gender">Gender:</label>
    		<select id="gender" name="gender" required>
    	    	<option value="male">Male</option>
    	    	<option value="female">Female</option>
    	    	<option value="other">Other</option>
    		</select><br><br>
		</div>
		<div>
    		<label for="phone">Phone:</label>
    		<input type="tel" id="phone" name="phone" required><br><br>
    		<button type="submit" value="create_person">Create Person</button> 
		</div>	
	</form>
    
    <h2>Update Person</h2>
	<form action="/person/<person_id>/update" method="POST" id="update-form">
		<div>
    		<label for="person_id">ID:</label>
    		<input type="text" id="person_id" name="person_id" required><br><br>
		</div>
		<div> 
    		<label for="name">Name:</label>
    		<input type="text" id="name" name="name" required><br><br>
		</div>
		<div>
    		<label for="age">Age:</label>
    		<input type="number" id="age" name="age" required><br><br>
        </div>
		<div>
    		<label for="gender">Gender:</label>
    		<select id="gender" name="gender" required>
    	    	<option value="male">Male</option>
    	    	<option value="female">Female</option>
    	    	<option value="other">Other</option>
    		</select><br><br>
		</div>
		<div>
    		<label for="phone">Phone:</label>
    		<input type="tel" id="phone" name="phone" required><br><br>
    		<button type="submit" value="update_person">Update Person</button> 
		</div>
	</form>

    <h2>Delete Person</h2>
	<!-- <form action="/person/<person_id>/delete" method="DELETE" id="delete-form"> -->
        <form onsubmit="deletePerson(event)" id="delete-form">
		<div>
			<label for="person_id">ID:</label><br>
			<input type="text" id="person_id" name="person_id"><br>
			<button type="submit">Delete Person</button>
		</div>
	</form>
	
	<script>
		function deletePerson(event){
			event.preventDefault();
			const personId = document.getElementById("person_id").value;
			fetch('/person/${personId}/delete', {
				method: "DELETE",
			})
			    .then((response => {
                                if (response.ok) {
                                    return response.json();
                                } else {
                                    throw new Error("Failed to delete person.");
                                }
			})
                        .then((data) => {
                            alert(data.message);
                        })
			.catch((error) => {
				alert(error.message);
			});
		}
	</script>

	<h2>Get Person</h2>
	<form action="/person/" method="GET" id="get-form">
		<div>
			<label for="person_id">ID:</label><br>
			<input type="text" id="person_id" name="person_id"><br>
			<button type="submit" value="get_person">Get Person</button>
		</div>
	</form>

	<h2>Get All People</h2>
	<form action="/person" method="GET" id="get-all-form">
		<div>
			<button type="submit" value="get_peoples">Get All People</button>
		</div>
	</form>
</body>
</html>
